<div *ngIf="offers && offers.length; else noOffers">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produktname</th>
        <th scope="col">Preis</th>
        <th scope="col">Gewicht</th>
        <th scope="col">Anzahl</th>
        <th scope="col" data-toggle="tooltip" data-placement="top" title="Gibt an, ob ein Angebot für Kunden erwerblich und somit für Sie verbindlich ist.">aktiv</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers" routerLink="/offer/{{offer.id}}" class="offer">
        <th scope="row">{{offer.id}}</th>
        <td>{{offer.name}}</td>
        <td>{{offer.price | currency:'EUR':'symbol':'1.2-2'}}</td>
        <td>{{offer.kilogramm | weight}}</td>
        <td>{{offer.availableCount}}</td>
        <td>
          <img *ngIf="offer.active" width="20px" src="../../../assets/icon/check.png" alt="Angebot ist aktiv"
            data-toggle="tooltip" data-placement="right" title="Dieses Angebot ist aktiv">
          <img *ngIf="!offer.active" width="20px" src="../../../assets/icon/close.png" alt="Angebot ist inaktiv"
            data-toggle="tooltip" data-placement="right" title="Dieses Angebot ist nicht aktiv">
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noOffers>
  <h1>
    Sie haben noch keine Angebote inseriert.
  </h1>
</ng-template>
<app-messages></app-messages>