<!-- Highlight Card -->
<h1>Willkommen, Händler!</h1>

<!-- Resources -->
<h2>Menü</h2>
<h3>Sie haben folgende Möglichkeiten:</h3>

<div class="card-container">
    <div class="card" [routerLink]="['/login']">
        <p>Anmelden</p>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </div>
    <div class="card" [routerLink]="['/login']">
        <p>Registrieren</p>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </div>
    <div class="card" [routerLink]="['/new']">
        <p>Neues Angebot</p>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </div>
    <div class="card" [routerLink]="['/all']">
        <p>Meine Angebote</p>
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </div>
    <div class="circle-link" title="Animations" href="https://angular.io/guide/animations" target="_blank"
        rel="noopener">
        <img class="circle" width="20" src="../assets/icon/hawk.png">
        <p>Zur Käuferseite</p>
    </div>
</div>